<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Recipes</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1> All Recipes</h1>
    <ul>
        <% if(recipes.length > 0){ %>
            <% recipes.forEach(recipe => { %>
                <a href="/users/<%= user._id %>/recipes/<%= recipe.id %>">
                    <h2><%=recipe.title%></h2>
                </a>

                <% }) %>
        <% }else{ %>
            <p>There are no saved recipes.</p>
             <% } %>
    </ul>
    <a href="/users/<%= user._id %>/recipes/new">
        <button type="submit">Add New Recipe</button>
    </a>
    
</body>
</html>