<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Recipes</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1> Your Recipes</h1>
    <a href="/users/<%= user._id %>/recipes/new" id="newBtn">
        <button type="submit">Add New Recipe</button>
    </a>
    <ul class="recipes">
        <% if(recipes.length > 0){ %>
            <% recipes.forEach(recipe => { %>
                <li class ="recipe">
                <img src="/assets/sliceofpie.png" alt="slice of pie icon">
                <a href="/users/<%= user._id %>/recipes/<%= recipe.id %>">
                    <h2><%=recipe.title%></h2>
                </a>
                </li>
                <% }) %>
        <% }else{ %>
            <p>There are no saved recipes.</p>
             <% } %>
    </ul>

</body>
</html>